*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #afafaf;
}
nav{
    width: 100%;
    background-color: teal;
    color: white;
    padding: 20px;
    display: flex;
    position: fixed;
    justify-content: space-between;
}
nav>ul{
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
nav>ul>li{
    background-color: rgb(230, 92, 0);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
nav>ul>li:hover{
    background-color: rgb(183, 73, 0);
}
nav>ul>li>a{
    color: white;
    text-decoration: none;
}
main {
    display: flex;
    display: grid;
    grid-area: "nam";
    /* grid-template-columns: 1fr 4fr; */
    grid-template-areas: 
    "one tow tow tow ",
    "one tow tow tow ";
 

}

#form_group {
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    background: #000;
    height: 79vh;
    position: fixed;
    grid-area: "one";
    margin-top: 78px;
}

input {
    text-align: center;
    width: 231px;
    height: 35px;
    margin: 20px;
    border-radius: 10px;
}

.add{
    display: flex;
    align-items: center;
}

#list_Category {
    padding: 150px 0 0 550px;
    grid-area: "tow";
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 10px;
}

thead {
    background: teal;

}

tr:nth-child(even) {
    background: #e7f2f4;
  
}
tr,td,th {
    border: 1px solid black;
    padding: 10px;
}
th{
    color: white;
}
.hide {
    display: none;
}

i {
    color: red;
    margin-left: 20px;
    cursor: pointer;
}
i:nth-child(1){
    color: blue;
}

button {
    color: white;
    border-radius: 40px;
    padding: 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70px;
    background: teal;
}
#update {
    background: rgb(66, 0, 128);
   
}
#add {
    background: rgb(20, 173, 127);
}
    

.delete,.edit {
    color: #fff;
    border-radius: 40px;
    font-size: 10px;
    padding: 2px 10px 2px 10px;
}