* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    display: grid;
    grid-template-areas: 
    "nav nav  nav  nav"
    ,"nam nam nam nam";
}
nav {
    background-color: teal;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    position: fixed;
    grid-area: "nav";
    width: 100%;
}

nav>ul {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

nav>ul>li {
    background-color: rgb(230, 92, 0);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

nav>ul>li:hover {
    background-color: white;
    text-decoration: none;
}