* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: teal;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav>ul {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

nav>ul>li {
    background-color: rgb(230, 92, 0);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

nav>ul>li:hover {
    background-color: rgb(183, 73, 0);
}

li {
    color: white;
}

nav>ul {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

nav>ul>li {
    background-color: rgb(230, 92, 0);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

nav>ul>li:hover {
    background-color: rgb(183, 73, 0);
}

h1 {
    color: orangered;
    margin-left: 50px;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#product_stock {
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 70px;
    background: #000;
    height: 85vh;
}

.pro {
    margin-top: 50px;
}

.show {
    padding: 0;
    width: 230px;
    height: 50px;
    border: 3px solid rgb(182, 225, 225);
    border-radius: 5px;
}

h2 {
    color: orangered;
    text-align: center;
    margin-top: 10px;
}

p {
    color: white;
}

#top_product {
    padding: 80px;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 30px;

}

thead {
    background: #54cddf;
}

tr:nth-child(even) {
    background: #e7f2f4;

}

tr,
td,
th {
    border: 1px solid;
    padding: 10px;
}