* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

nav{
    background-color: teal;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
nav>ul{
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
nav>ul>li{
    background-color: rgb(230, 92, 0);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
nav>ul>li:hover{
    background-color: rgb(183, 73, 0);
}
li{
    color: white;
}

#allcategory {
    display: flex;
}

main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 20px;
}
#product_stock {
    
    display: flex;
    flex-direction: column;
    margin: 0 0px;
    padding-left: 20px;
}

.pro{
    margin-top: 10px;
}

.show {
    padding: 0;
    width: 120px;
    height: 50px;
    border: 1px solid orangered;
}

h2 {
    color: orangered;
    text-align: center;
    margin-top: 10px;
}

p{
    color: rgb(12, 84, 84);
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px;
}
td,th {
    border:1px solid #ccc;
    padding: 10px;
}