*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

nav {
    background-color: teal;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
}

nav>ul {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

nav>ul>li {
    background-color: rgb(230, 92, 0);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

nav>ul>li:hover {
    background-color: rgb(183, 73, 0);
}

main{
    display: grid;
    grid-template-columns: 1.2fr 3fr;
}
.main-left{
    background:black;
    padding: 70px 0 0 20px;
    height: 100vh;

}
input {
    width: 300px;
    padding: 10px;
    margin: 10px;
    color: black;
    outline: none;
    border: none;
}
button {
    cursor: pointer;
    background-color: rgb(55, 175, 55);
    color: white;
    margin: 10px;
    height: 50px;
    width: 100px;
}

.main-right{
    padding: 80px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    background: teal;
    color: #fff;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
.result{
    background-color: blue;
}
