* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: teal;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
}

nav>ul {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

nav>ul>li {
    background-color: rgb(230, 92, 0);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

nav>ul>li:hover {
    background-color: rgb(183, 73, 0);
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#product_stock {
    display: flex;
    flex-direction: column;
    height: 84vh;
    background: #000;
    color: white;
}

#pro {
    margin: 20px 0 0 20px;
}

.show {
    width: 180px;
    height: 40px;
    border: 1px solid orangered;
    text-align: center;
    padding-top: 10px;
}

p{
    padding: 5px;
}

#viewproduct{
    padding:20px 40px;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #ccc;
    padding: 10px;
}